/* :MISC STYLING */

body {
    background-color: rgb(220, 220, 220);
}

hr {
    border-color: rgba(215, 215, 215, 0.75);
}

/* :INGAME STYLING */

.call-card {
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.call-card-container .call-card-placeholder {
    background-color: whitesmoke;
}

.response-card {
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(240, 240, 240);
    color: black;
}

#scoreboard-container>table>thead {
    border-bottom: 1px solid rgb(15, 15, 15);
}

#scoreboard-container>table>thead,
#scoreboard-container>table>tbody {
    color: rgb(15, 15, 15);
}

#game-window .selected>.response-card {
    background-color: darkgray;
    color: whitesmoke;
}

#player-hand-trigger,
#player-hand-container,
.connected-rules-offline {
    border-color: rgb(190, 190, 190);
}

#player-hand-trigger {
    background-color: rgb(205, 205, 205);
}

#player-hand-container {
    background-color: rgb(230, 230, 230);
}

.player-win,
#options-toggler>div,
#last-round-toggler>div {
    background-color: rgb(190, 190, 190);
}

.blank-card {
    background-color: black;
}

.selected .blank-card {
    background-color: rgb(245, 245, 245);
}

.card-pack .blank-card {
    background-color: rgb(136, 136, 136);
}