/* _ANIMATIONS */

@-webkit-keyframes visibleSlideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes visibleSlideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.visibleSlideOutDown {
    -webkit-animation-name: visibleSlideOutDown;
    animation-name: visibleSlideOutDown;
}


/* _SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #777;
}


/* Html */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

body {
    padding-top: 100px;
}

hr {
    width: 100%;
    height: 1px;
    margin: 25px 0;
}

.relative {
    position: relative;
}

.navbar {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
}

.navbar-brand>img {
    max-height: 35px;
}

#login_menu {
    will-change: transform, opacity;
}

#login_menu h6 {
    white-space: nowrap;
}

#login_menu>.img-container {
    object-fit: contain;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#login_menu>.img-container>img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#login_menu>a {
    height: 36px;
}

#login_menu>form {
    min-width: 300px;
}

#login_menu>form>a {
    padding: 0;
    margin: 0;
}

.c-fa {
    width: 20px;
}

.c-content-centered {
    object-fit: contain;
    text-align: center;
}

.c-content-centered>img {
    height: auto;
    max-width: 100%;
}

.c-bg-squared {
    border-radius: 0;
}

.c-btn {
    padding: 0;
    height: 40px;
    padding-top: 5px;
}

.c-btn>div {
    height: 20px;
    width: 20px;
}


/* IN-GAME STYLING */

#left-side {
    width: 225px;
    margin-left: 20px;
}

#right-side {
    width: 100%;
    padding-left: 265px;
    padding-right: 15px;
}

#played-cards,
#played-cards-last {
    padding-left: 15px;
}

.call-card,
.response-card {
    border-radius: 5px;
    overflow-y: auto;
    padding: 15px;
    user-select: none;
}

.call-card {
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 325px;
}

.call-card-container .call-card-placeholder {
    width: 60px;
    height: 1px;
    display: inline-block;
}

.response-card-container {
    float: left;
    margin: 0 5px 5px 0;
}

.response-card {
    width: 170px;
    height: 225px;
    border-radius: 0;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.selectable {
    transition: transform .1s;
}

.selectable:hover {
    -webkit-transform: scale(1.075);
    -moz-transform: scale(1.075);
    transform: scale(1.075);
    position: relative;
    z-index: 2000;
}

.card-text {
    cursor: default;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.response-card>.card-text {
    font-size: 10pt;
}

.card-signature {
    position: absolute;
    bottom: 0;
}

.card-signature-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-logo,
.card-pack,
.card-owner {
    position: absolute;
}

.card-logo {
    background-image: url('img/card_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.card-owner {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blank-card {
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    display: inline-block;
}

.card-pack .blank-card {
    margin-top: 0;
    margin-left: 2px;
    width: 50px;
}

.blank-card-logo {
    position: absolute;
    top: 0;
    right: 0;
}


/* _PLAYER HAND */

#player-hand-trigger,
#player-hand-container {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    user-select: none;
}

#player-hand-trigger {
    min-width: 50px;
    height: 30px;
    line-height: 32px;
    padding: 0 10px 0 10px;
    position: absolute;
    top: -30px;
    left: 30px;
}

#player-hand-fixed {
    position: fixed;
    bottom: 0;
    height: auto;
    width: calc(100% - 265px);
    pointer-events: none;
    z-index: 3000;
}

#player-hand-collapse {
    pointer-events: auto;
    will-change: transform;
    animation-duration: 1.25s;
}

#player-hand-container {
    border-top-right-radius: 0;
    border-right-width: 0;
    width: 100%;
    position: relative;
    padding: 5px;
}

#player-hand-cards {
    width: 100%;
    overflow-y: auto;
    border-top-right-radius: 0;
    border-right: 0;
    padding: 10px;
}

#scoreboard-container thead>tr>th:nth-child(1),
#scoreboard-container thead>tr>th:nth-child(2) {
    width: 20px;
}

#scoreboard-container thead>tr>th:nth-child(4) {
    width: 50px;
}

#scoreboard-container tr td {
    padding-top: 3px;
}

#scoreboard-container i {
    max-width: 20px;
    max-height: 20px;
}

#scoreboard-container .fa-times {
    color: red;
}

#scoreboard-container .fa-check {
    color: green;
}

#scoreboard-container .fa-crown {
    color: goldenrod;
}

#scoreboard-container .fa-home {
    color: steelblue;
}

.group-container {
    height: auto;
    width: auto;
    margin: 0 8px 8px 0;
}

.c-hideable-lr.c-hide-lr,
.c-hideable-go.c-hide-go {
    display: none;
}

#options-toggler,
#last-round-toggler {
    cursor: pointer;
    position: relative;
    width: 100%;
    user-select: none;
}

#options-toggler>div,
#last-round-toggler>div {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: -20px;
    height: 20px;
    min-width: 100px;
}

#options-toggler>div {
    left: 30px;
    border-radius: 5px 5px 0 0;
}

#last-round-toggler>div {
    right: 30px;
    border-radius: 5px;
}

#game-options-table {
    width: 100%;
}

#game-options-table td {
    text-align: right;
    padding-right: 10px;
    height: 30px;
}

#game-options-table td>div,
#game-options-table td>label {
    vertical-align: middle;
    margin: 0;
}

#game-options-table>thead>tr>td:nth-child(1) {
    width: 250px;
    font-size: 12pt;
}

#game-options-table>thead>tr>td:nth-child(2) {
    font-size: 12pt;
    text-decoration: underline;
}

.connected-rules-offline {
    height: 100px;
    padding: 20px;
    font-size: 14pt;
    text-align: center;
    border-width: 3px;
    border-style: dashed;
}

#favorite-decks ul {
    max-height: calc(1px + 48px * 5);
    overflow-y: auto;
}

#favorite-decks ul label {
    padding-top: 4px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) {
    #left-side,
    .group-container,
    .group-container>.response-card,
    .call-card,
    .response-card,
    .call-card-container,
    .response-card-container {
        width: 100%;
        margin: 0;
    }
    #left-side,
    #right-side {
        padding-left: 10px;
        padding-right: 10px;
        user-select: none;
    }
    #player-hand-trigger {
        height: 20px;
        line-height: 22px;
        top: -20px;
        font-size: 10pt;
    }
    .call-card,
    .response-card,
    .group-container>.response-card {
        height: auto;
    }
    #player-hand-collapse,
    #player-hand-container,
    #player-hand-cards {
        height: 100%;
    }
    .selectable:hover {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        transform: scale(1.0);
    }
    #player-hand-fixed {
        height: calc(100% - 100px);
        width: calc(100% - 20px)
    }
    .response-card {
        border-radius: 0;
    }
    .response-card-container .card-text {
        font-size: 12pt;
    }
    #played-cards,
    #played-cards-last,
    .call-card-container {
        padding: 0;
    }
    .response-card-container .response-card {
        padding: 10px;
    }
    .call-card,
    .response-card {
        padding: 15px;
    }
    .response-card-container {
        margin-bottom: 5px;
    }
    .card-text {
        margin-bottom: 15px;
    }
    .group-container {
        margin-right: 0;
        margin-bottom: 8px;
    }
    #left-side>button {
        margin-bottom: 15px;
    }
    #scoreboard-container {
        margin-bottom: 25px;
    }
    #player-hand-cards>div:nth-last-child(2) {
        margin: 0;
    }
    #player-hand-container {
        border-top-right-radius: 5px;
        border-right-width: 1px;
    }
    #last-round-toggler {
        margin-top: 30px;
        padding-top: 10px;
    }
    .card-text .blank-card {
        margin-top: 20px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #player-hand-fixed {
        height: calc(100% - 100px);
    }
    #player-hand-collapse,
    #player-hand-container,
    #player-hand-cards {
        height: 100%;
    }
    #player-hand-trigger {
        height: 20px;
        line-height: 22px;
        top: -20px;
        font-size: 10pt;
    }
    .response-card {
        width: 220px;
        height: 100px;
        padding: 9px 10px;
        float: left;
    }
    .response-card-container .card-text {
        font-size: 8pt;
    }
    #left-side {
        position: fixed;
    }
    .card-text .blank-card {
        margin-top: 14px;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #player-hand-cards {
        height: 100%;
        min-height: auto;
        max-height: calc(100vh - 150px);
    }
    .group-container>.response-card {
        float: left;
    }
    .response-card {
        width: 250px;
        height: 100px;
        padding: 9px 10px;
    }
    .response-card-container .card-text {
        font-size: 8pt;
    }
    .card-text .blank-card {
        margin-top: 14px;
    }
}


/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    #player-hand-fixed {
        max-height: calc(100% - 110px);
    }
    #player-hand-cards {
        height: 100%;
        min-height: auto;
        max-height: calc(100vh - 140px);
    }
    #left-side {
        position: fixed;
    }
    .group-container>.response-card {
        width: 170px;
        float: left;
    }
    #scoreboard-container {
        height: calc(100% - 485px);
        position: fixed;
        top: 100px;
        left: 20px;
        width: 225px;
        margin-top: 365px;
        overflow-y: auto;
    }
}

@media (max-width: 1199.98px) {
    .response-card {
        padding-bottom: 25px;
    }
    .response-card .card-signature {
        width: calc(100% - 30px);
        height: 20px;
    }
    .card-logo {
        height: 15px;
        width: 15px;
        bottom: 5px;
    }
    .card-pack {
        left: 16px;
        bottom: 3px;
        font-size: 8pt;
        width: 60px;
    }
    .card-owner {
        left: 76px;
        bottom: 3px;
        font-size: 9pt;
        top: auto;
        width: calc(100% - 66px);
    }
}

@media (min-width: 1200px) {
    #played-cards .response-card,
    #played-cards-last .response-card {
        padding-bottom: 45px;
    }
    .response-card .card-signature {
        width: calc(100% - 30px);
        height: 40px;
    }
    .card-logo {
        height: 30px;
        width: 30px;
        bottom: 8px;
    }
    .card-pack {
        left: 36px;
        bottom: 5px;
        font-size: 8pt;
    }
    .card-owner {
        width: calc(100% - 36px);
        height: 20px;
        top: 0;
        right: 0;
    }
}
