/* :MISC STYLING */

body {
    background-color: #222;
}

hr {
    border-color: rgba(50, 50, 50, 0.75);
}

/* :MISC STYLING */

.call-card {
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.call-card-container .call-card-placeholder{
    background-color: whitesmoke;
}

.response-card {
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(70, 70, 70);
    color: rgb(205, 205, 205);
}

#scoreboard-container>table>thead {
    border-bottom: 1px solid whitesmoke;
}

#scoreboard-container>table>thead,
#scoreboard-container>table>tbody {
    color: whitesmoke;
}

#game-window .selected>.response-card {
    background-color: lightgray;
    color: black;
}

#player-hand-trigger,
#player-hand-container,
.connected-rules-offline {
    border-color: #444;
}

#player-hand-trigger {
    background-color: #333;
}

#player-hand-container {
    background-color: #111;
}

.player-win,
#options-toggler>div,
#last-round-toggler>div {
    background-color: #444;
}

.blank-card {
    background-color: white;
}

.selected .blank-card {
    background-color: black;
}

.card-pack .blank-card {
    background-color: rgb(153, 153, 153);
}